@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
  margin: 0;
  padding: 0;
}

.bk_container {
  background-color: #f7f7f9;
  max-width: 768px;
  margin: auto;
}

.port_container {
  max-width: 100%;
  background-image: url('../images/header-shapes\ mobile.png');
  background-color: #fff;
  border-bottom-left-radius: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10px;
  height: 718px;
}

.header {
  padding: 0 35px;
  margin-top: 0;
}

.container {
  width: 327px;
  margin: auto;
  margin-top: 103px;
  align-items: center;
}

.main_container {
  width: 327px;
  margin: auto;
  margin-top: 103px;
  align-items: center;
}

.logo {
  padding-left: 50px;
}

.navbar {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.nav {
  display: none;
  flex: 1;
  text-align: right;
  font-size: 15px;
  padding-right: 170px;
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(96, 112, 255, 0.9);
  backdrop-filter: blur(4px);
  padding: 62px 36px 0 28px;
}

.mobile-menu ul {
  list-style: none;
}

.mobile-menu ul li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.menu-cross {
  display: block;
  margin-left: auto;
}

.main_section {
  margin: 114px 0;
  padding: 0 35px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.h2 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.p {
  line-height: 24px;
  color: #344563;
}


.media_p {
  color: #20254e;
}

.media_ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 170px;
}

.media_li a:hover {
  cursor: pointer;
}

.media_header {
  color: #20254e;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.simi {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 80px;
  box-sizing: border-box;
  margin-top: 120px;
  place-items: center;
}

.title {
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  width: 327px;
}

.title:nth-of-type(even) {
  height: 596px;
}

.title-text {
  height: 288px;
}

.t-text {
  font-size: 13px;
}

.t-text .port h4 {
  color: #172b4d;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}

.mastery ul {
  margin: 10px 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 215px;
}

.mastery ul li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #20254e;
  border-radius: 8px;
  padding: 4px 12px;
}

section .aim {
  padding: 30px 0;
}

section .aim ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

section .aim ul li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  color: #000;
}

.t-text .port ul {
  display: flex;
  justify-content: space-between;
  width: 236px;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.t-text ul li:first-child {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #20254e;
}

.intro-text {
  margin-top: 80px;
}

.btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #20254e;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 8px 10px;
  width: fit-content;
}

.btn:hover {
  box-sizing: border-box;
  border-radius: 8px;
  background: #20254e;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  cursor: pointer;
}

.btn-mastery {
  width: 120px;
  letter-spacing: 0.03em;
  margin: 10px 0;
}

.btn-resume {
  text-decoration: none;
}

.btn:disabled {
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

.q-text {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.arrow-right {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 18rem;
  font-weight: normal;
}

.ul .li .first-child {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #20254e;
}

.about_text {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.welcome {
  width: 100%;
  border-bottom-left-radius: 100px;
}

.about {
  width: 100%;
  margin: 70px auto;
  background-color: #fff;
  border-top-right-radius: 100px;
  padding: 100px 0;
  height: 1263px;
  margin-top: 120px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  padding-left: 24px;
}

.about_header {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 10px;
  margin-top: 0;
}

.about_img {
  background-image: url('../images/Skill_List.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.contact_container {
  padding: 10px 0;
  height: 850px;
  border-top-left-radius: 90px;
  background-color: #6070ff;
  margin-top: 1350px;
  width: 100%;
  position: absolute;
}

.contact_bk {
  background-image: url('../images/contact\ form\ shapes-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.contact_header {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

.contact_p {
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-weight: 400px;
}

.contact_container .btn {
  margin-top: 10px;
}

input {
  background: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-size: 17px;
}

textarea {
  background: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-size: 17px;
}

.contact_container form {
  max-width: 400px;
  margin: 20px auto;
}

.contact_container textarea {
  width: 100%;
  margin: 10px 0;
  height: 200px;
}

.contact_container input {
  width: 100%;
  margin: 10px 0;
}

.line {
  background: #0d151e;
  border-radius: 10px;
  height: 5px;
  width: 134px;
  margin-top: 10px;
  margin-left: 50px;
}

@media (min-width: 768px) {
  .bk_container {
    max-width: 100%;
    margin: auto;
  }

  .port_container {
    max-width: 100%;
    background-image: url('../images/Header\ bg@2x.png');
    background-color: #fff;
    border-bottom-left-radius: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 10px;
    height: 916px;
  }

  .menu-icon {
    display: none;
  }

  .simi {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 120px;
  }

  .navbar {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    top: 0;
  }

  .nav {
    flex: 1;
    text-align: right;
    font-size: 15px;
    padding-right: 170px;
    display: block;
  }

  .nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
  }

  .logo {
    padding-left: 142px;
  }

  .title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    gap: 46px;
  }

  .title img {
    width: 100%;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 70px auto;
    background-color: #fff;
    border-top-right-radius: 100px;
    padding: 100px 0;
    height: 1263px;
    margin-top: 120px;
    padding-left: 142px;
    padding-right: 142px;
    gap: 10px;
  }

  .about_text {
    color: #344563;
    font-size: 16px;
    line-height: 24px;
    top: 124px;
  }

  .about_img {
    background-image: url('../images/Skill\ List.png');
  }

  .contact_container {
    padding: 10px 0;
    height: 850px;
    border-top-left-radius: 90px;
    background-color: #6070ff;
    margin-top: 700px;
    width: 100%;
    position: absolute;
  }

  .contact_bk {
    background-image: url('../images/contact\ form\ background\ shapes@2x.png');
    padding-left: 10px;
    padding-left: 79.34px;
    background-size: contain;
    padding-top: 50px;
    background-repeat: no-repeat;
  }

  .container {
    width: 100%;
    margin: auto;
    margin-top: 142px;
    align-items: center;
  }

  .main_container {
    width: 820px;
    margin: auto;
    margin-top: 200px;
    margin-left: 260px;
    align-items: center;
  }

  .contact_container form {
    max-width: 447px;
    margin: 20px auto;
  }

  .contact_container textarea {
    width: 447px;
    margin: 10px 0;
    height: 200px;
  }

  .contact_container input {
    width: 447px;
    margin: 10px 0;
  }

  .contact_container .btn {
    margin-top: 10px;
    margin-left: 35%;
  }

  .contact_p {
    color: #ebebff;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 400px;
    width: 596px;
  }

  .line {
    display: none;
  }

  .h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    letter-spacing: 0.37px;
    width: 620px;
  }

  .p {
    line-height: 24px;
    color: #344563;
    width: 720px;
  }
}

.d-block {
  display: block;
}
