@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 375px;
  height: 100vh;
  margin: auto;
  background-image: url('../images/header-shapes\ mobile.png');
}

.header {
  padding: 0 35px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.navbar {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_section {
  margin: 114px 0;
  padding: 0 35px;
}

.h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.p {
  line-height: 24px;
  color: #344563;
}

a {
  text-decoration: none;
}

.media_p {
  color: #7f8cff;
}

.media_ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 170px;
}

.media_li a:hover {
  cursor: pointer;
}

.simi {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 80px;
  box-sizing: border-box;
  margin-top: 80px;
  place-items: center;
}

.title {
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  width: 327px;
}

.title-text {
  height: 288px;
}

.t-text {
  font-size: 13px;
}

.t-text .port h4 {
  color: #172b4d;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}

.t-text .port ul {
  display: flex;
  justify-content: space-between;
  width: 236px;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.t-text ul li:first-child {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #344563;
}
