@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f5f7;
}

img {
  max-width: 100%;
  height: auto;
}

#bk_container {
  max-width: 100%;
  height: 916px;
  background-color: #fff;
  border-bottom-left-radius: 90px;
  padding-top: 10px;
}

.port_container {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/Header-bg@2x.png);
  margin-left: 142px;
  margin-top: 100px;
  height: 712px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #fff;
  height: 72px;
  margin-top: -10px;
}

.nav {
  flex: 1;
  text-align: right;
  font-size: 20px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.logo {
  margin-left: 250px;
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu_li {
  color: #344563;
  font-weight: 500, medium;
}

.main_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-left: 268px;
  gap: 12px;
  padding-top: 250px;
  max-width: 920px;
}

.media {
  padding-top: 15px;
}

.media_p {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.media_ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 170.17px;
  padding-top: 5px;
}

.media_li a:hover {
  cursor: pointer;
}

.media_header {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 25px;
}

.section_header {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #091e42;
}

.section_text {
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

/* media query for the header  */
@media (max-width: 470px) {
  .nav {
    width: 50%;
    font-size: 15px;
    display: none;
  }

  .menu-icon {
    display: block;
    margin-left: 70%;
  }

  .logo {
    margin-left: 10px;
  }

  .section_header {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-left: 10px;
    width: 70%;
    margin-top: -10px;
  }

  .section_text {
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
  }

  .main_section {
    margin: auto;
  }

  .port_container {
    background-size: cover;
    margin-left: 0;
    margin-top: 40px;
    background-image: url('../images/header-shapes-mobile.png');
  }

  .media {
    margin-left: 10px;
  }
}

.simi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 142px;
  max-width: 100%;
  height: 2694px;
  top: 917px;
}

.title {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  max-width: 100%;
  height: 496px;
}

.title1 {
  background-color: #fff;
  border: 1px solid #a7aeff;
  border-radius: 24px;
  max-width: 100%;
  height: 496px;
}

.title-text {
  margin-top: -450px;
  padding-left: 590px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.title-img {
  padding-top: 24px;
  padding-left: 24px;
}

.title-text1 {
  margin-top: -450px;
  padding-left: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.title-img1 {
  padding-top: 24px;
  padding-left: 530px;
  margin-right: 20px;
}

.t-text {
  font-size: 18px;
}

.t-text .port h4 {
  color: #091e42;
  font-weight: 700, bold;
  font-size: 40px;
  line-height: 52px;
  margin: 12px 0;
}

.mastery ul {
  margin: 10px 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}

.mastery ul li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.masterys ul {
  margin: 10px 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 210px;
}

.t-text .port ul {
  display: flex;
  justify-content: space-between;
  width: 340px;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
}

.masterys ul li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.t-text ul li:first-child {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #344563;
}

.q-text {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 496px;
}

.btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 8px 10px;
  width: fit-content;
}

.btn:hover {
  box-sizing: border-box;
  border-radius: 8px;
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  cursor: pointer;
}

.btn-mastery {
  width: 120px;
  letter-spacing: 0.03em;
  margin: 10px 0;
}

.pot1 {
  top: 780px;
  margin-top: 130px;
}

.pot2 {
  top: 780px;
  margin-top: 130px;
}

.pot3 {
  top: 780px;
  margin-top: 130px;
}

/* ---Portfolio----- */
@media (max-width: 470px) {
  .simi {
    display: block;
    align-items: center;
    padding: 15px;
    margin-top: 100px;
  }

  .title {
    height: auto;
  }

  .title-img {
    padding-left: 10px;
    padding-right: 10px;
  }

  .title-text {
    margin-top: 45px;
    padding-left: 20px;
    gap: 12px;
  }

  .title-text1 {
    margin-top: 50px;
    padding-left: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
  }

  .title-img1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .t-text .port h4 {
    color: #091e42;
    font-weight: 700, bold;
    font-size: 30px;
    line-height: 21px;
    margin-top: -30px;
  }

  .t-text .port ul {
    max-width: 65%;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
  }

  .t-text ul li:first-child {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #344563;
  }

  .q-text {
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    max-width: 85%;
  }

  .title1 {
    height: auto;
    width: auto;
  }

  .about {
    max-width: 100%;
    height: 924px;
    position: absolute;
    margin-top: 700px;
  }

  .about_header {
    margin-left: 10px;
    font-size: 40px;
  }
}

.about {
  max-width: 100%;
  height: 924px;
  background-color: #fff;
  top: 4535px;
  border-top-right-radius: 90px;
}

.win {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

.left-block {
  width: 600px;
  height: 392px;
  padding-left: 142px;
  padding-top: 142px;
}

.about_header {
  font-weight: 700px;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  height: 114px;
}

.about_text {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  top: 126px;
}

.aim {
  padding-left: 614px;
  margin-top: -270px;
}

.get-b {
  padding-top: 35px;
}

/* -----aboutus------------ */
@media (max-width: 470px) {
  .about {
    margin-top: -420px;
  }

  .about_header {
    font-weight: 700px;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    height: 114px;
  }

  .left-block {
    padding-top: 100px;
    padding-left: 14px;
  }

  .about_text {
    width: 400px;
  }

  .aim {
    padding-left: 14px;
    margin-top: 120px;
  }
}

.contact_container {
  max-width: 100%;
  height: 846px;
  background-color: #6070ff;
  border-top-left-radius: 90px;
  margin-top: -250px;
  padding-top: 117px;
}

.contact_bk {
  width: 1290.66px;
  height: 718.7px;
  background-image: url('../images/contact-form-background-shapes@2x.png');
  margin-left: 75.34px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 577px;
  padding-top: 50px;
  width: 100%;
  margin: auto;
}

.contact_header {
  font-weight: 700px;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact_p {
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  width: 569px;
  padding-top: 20px;
}

textarea {
  max-width: 100%;
  height: 200px;
  background: #fff;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-size: 17px;
  width: 447px;
}

input {
  background: #fff;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-size: 17px;
  width: 447px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 447px;
  padding-top: 27px;
  align-items: center;
}

@media (max-width: 470px) {
  .contact_container {
    margin-top: 1230px;
    position: absolute;
    padding-left: -100px;
  }

  .contact_bk {
    background-image: url('../images/header-shapes-mobile.png');
    max-width: 60%;
    background-size: cover;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }

  .contact_header {
    font-weight: 700px;
    font-size: 35px;
    line-height: 52px;
    color: #fff;
    max-width: 100%;
  }

  .contact_p {
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    text-align: center;
    width: 320px;
    padding-top: 20px;
  }

  input {
    background: #fff;
    padding: 10px 16px;
    border-radius: 5px;
    border: 1px solid #cfd8dc;
    color: #172b4d;
    font-size: 17px;
    max-width: 100%;
  }

  textarea {
    max-width: 100%;
    height: 200px;
    background: #fff;
    padding: 10px 16px;
    border-radius: 5px;
    border: 1px solid #cfd8dc;
    color: #172b4d;
    font-size: 17px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 15px;
    max-width: 400px;
    padding-top: 27px;
    align-items: center;
    padding-left: 30px;
  }

  .contact_container input textarea {
    max-width: 100%;
  }
}
